@{
    ViewBag.Title = "Početna";
}

<div class="jumbotron" style="padding: 2rem; background-color: #e9ecef; border-radius: .3rem; margin-bottom: 1rem;">
    <h1 class="display-4">AS.MVCDemo</h1>
    <p class="lead">ASP.NET MVC 5 demo aplikacija s EF6 DB First, CRUD operacijama i AJAX partial view-ovima.</p>
    <hr />
    <p>Koristite navigaciju za pristup modulima:</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Department")">Odjeli</a>
    <a class="btn btn-secondary btn-lg" href="@Url.Action("Index", "Employee")" style="margin-left: 10px;">Zaposlenici</a>
    <a class="btn btn-danger btn-lg" href="@Url.Action("Index", "StoredProc")" style="margin-left: 10px;">Stored procedure</a>

</div>