@model List<BHAS.DbFirst.Employee>

@{
    ViewBag.Title = "Svi zaposlenici";
}

<h2>SP1 - Svi zaposlenici</h2>
<div style="margin-bottom:15px">
    @Html.ActionLink("Nazad", "Index", null, new { @class = "btn btn-sm btn-secondary" })
</div>

@Html.Partial("_EmployeesShared", Model)
<div style="margin-top: 15px;">
    @Html.ActionLink("Nazad", "Index", null, new { @class = "btn btn-sm btn-secondary" })

</div>