@model BHAS.DbFirst.Department
@{
    ViewBag.Title = "Detalji odjela";
}

<h2>Detalji odjela</h2>

<div class="card">
    <div>
        <dl class="row">
            <dt class="col-sm-4">Naziv odjela</dt>
            <dd class="col-sm-8"></dd>




        </dl>
    </div>
</div>
